body,
html {
  height: 100%;
}

body {
  background-color: black;
}

.carousel-indicators {
  bottom: -37px;
}

/*.carousel-control-prev {
    left: -100px;
}

.carousel-control-next {
    right: -100px;
}*/
